@{
    ViewData["Title"] = "HomePage";
}
<div class="container-fluid">
    <div class="col-md-2">
        <div class="panel-heading">
            <div class="table-bordered panel-heading text-center names-text"><img src="" />Jonathan</div>
            <div class="table-bordered panel-heading text-center names-text"><img src="" />Alex</div>
            <div class="table-bordered panel-heading text-center names-text"><img src="" />Bala</div>
            <div class="table-bordered panel-heading text-center names-text"><img src="" />Chris</div>
            <div class="table-bordered panel-heading text-center names-text"><img src="" />Chhai</div>
            <div class="table-bordered panel-heading text-center names-text"><img src="" />Mauricio</div>
            <div class="table-bordered panel-heading text-center names-text"><img src="" />Aditi</div>
            <div class="table-bordered panel-heading text-center names-text"><img src="" />Lucy</div>
            <div class="table-bordered panel-heading text-center names-text"><img src="" />David</div>
            <div class="table-bordered panel-heading text-center names-text"><img src="" />Tristan</div>
        </div>
    </div>
    <div class="col-md-6 pre-scrollable">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="text-center panel-title">
                        <a data-toggle="collapse" data-target="#collapseOne"
                           href="#collapseOne">
                            Soccor - 02/05/16 [6:00PM]
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel panel-body panel-collapse collapse">
                    d
                </div>
            </div>
        </div>
    </div>
</div>

