@{
    ViewData["Title"] = "HomePage";
}
<div class="container">
    <div class="row">
        <div class="col-md-2 panel" id="playerContainer">
            <div class="panel-heading" id="playerList">
                <div class="table-bordered panel-heading text-center names-text dragme player">Jonathan</div>
            </div>
            <div class="form-group hidden" id="playerField">
                <input type="text" class="form-control" placeholder="Enter Name Here" id="playerName">
            </div>
            <div class="panel text-center">
                <div>
                    <button id="addPlayerButton" onclick="addPlayerField()">Add</button>
                </div>
                <div>
                    <button id="removePlayerButton" onclick="removePlayer()">Remove</button>

                </div>
            </div>
        </div>
        <div class="col-md-8 pre-scrollable panel" id="eventContainer">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="text-center panel-title">
                            <a data-toggle="collapse" data-target="#collapseOne"
                               href="#collapseOne">
                                Soccor - 02/05/16 [6:00PM]
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel panel-body panel-collapse collapse">
                        d
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <button id="addButton">+</button>
        </div>
    </div>
</div>
